html {
    height: 100%;
}
#curtain {
    position: absolute;
    width: 1347px;
    top: -328px;
    left: -45px;
}

#container {
    text-align: center;
    position: center;

}
.movieCard{
    border: 2px solid black;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    height: 80%;
    width: 20%;
    max-width: 150px;
    padding: 3%;
    background-color: #940701;
    color: white;
    position: relative;

}
#add-movies{
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
}
#userEdit{
    display: none;
}
.posters {
    width: 125px;
    height: 172px;
}
.movieTitle{
    margin-top: 0;
}
#userInput {

}