html, body {
    height: 100%;
}

#container {
    text-align: center;
    position: center;

}
.movieCard{
    border: 1px solid black;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    height: 80%;
    width: 20%;
    max-width: 150px;
    padding: 3%;
    background-color: darkslategray;
    color: white;
    opacity: 0.5;
}
.movieCard:hover{
    border: 1px solid black;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    height: 80%;
    width: 20%;
    max-width: 200px;
    padding: 3%;
    background-color: darkslategray;
    color: white;
    opacity: 1;
    transition: ease 2s;
}
#add-movies{
    display: flex;
    height: 35%;
    margin-top: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: solid black;
    border-bottom: solid black;
    justify-content: center;
}
#userEdit{
    display: none;
}